// General configuration used in all profiles
manifest {
  description = 'FastOMA - Infer orthology '
  nextflowVersion = '22.10.4'
}

params {
  container_name = "dessimozlab/fastoma"
  container_version = "latest"
  omamer_db = "https://omabrowser.org/All/Primates-v2.0.0.h5"
}

// Profiles configure nextflow depending on the environment (local, integration, live, etc.)
profiles {
  docker {
    process {
      container = "$params.container_name:$params.container_version"
    }
    docker.enabled = true
  }
  singularity {
    process {
      container = "$params.container_name:$params.container_version"
    }
    singularity.enabled = true
    singularity.autoMounts = true
  }
  standard {
    process.executor = 'local'
  }
}

