/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    dessimozlab/FastOMA Nextflow base config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    A 'blank slate' config file, appropriate for general use on most high performance
    compute environments. Assumes that all software is installed and available on
    the PATH. Runs in `local` mode - all jobs will be run on the logged in environment.
----------------------------------------------------------------------------------------
*/

process {
    cpus   = { 1    * task.attempt }
    memory = { 6.GB * task.attempt }
    time   = { 4.h  * task.attempt }
    resourceLimits = [cpus: 6, memory: 32.GB, time: 72.h ]

    shell  = ['/bin/bash', '-euo', 'pipefail']

    errorStrategy = { task.exitStatus in ((130..145) + 104) ? "retry" : "finish" }
    maxRetries    = 2

    withLabel:process_single {
        cpus   = { 1 }
        memory = { 6.GB  * task.attempt }
        time   = { 4.h   * task.attempt }
    }
    withLabel:process_medium {
        cpus   = { 6     * task.attempt }
        memory = { 36.GB * task.attempt }
        time   = { 8.h   * task.attempt }
    }
    withLabel:process_high {
        cpus   = { 12    * task.attempt }
        memory = { 72.GB * task.attempt }
        time   = { 16.h  * task.attempt }
    }

    withName: "omamer_run" {
        cpus   = { 1 }
        memory = { 2.GB + 2.KB * Math.ceil(omamer_db.size()/1024) * task.attempt }
        time   = { 1.h * task.attempt }
    }

    withName: "infer_roothogs" {
        memory = {
            def nr_genomes  = hogmaps.size()
            def base_memory = 2.GB + (nr_genomes * 200.MB)
            return base_memory * task.attempt * params.memory_multiplier
        }
        time   = { 12.h * task.attempt * params.time_multiplier }
    }

    withName: "collect_subhogs" {
        cpus   = { 1 }
    }

    withName: "fastoma_report" {
        cpus   = { 1 }
    }
    withName: "extract_pairwise_ortholog_relations" {
        cpus   = { 1 }
    }
}
