executor {
    name = "slurm"
    // maximum number of tasks to submit to the queue
    queueSize = 200

    // queue / partion to submit jobs to (uncomment and specify if needed)
    // queue = "default"

    // set to true to enable per CPU memory allocation (uncomment if needed)
    // perCpuMemAllocation = true
}