// Default configuration for Nextflow
process {
    resourceLimits = [
        cpus: 2,
        memory: '8.GB',
        time: '1.h'
    ]
}

timeline {
    enabled = true      // Enable timeline generation
    file = 'timeline.html' // Output file for timeline
}

trace {
    enabled = true      // Enable trace generation
    file = 'trace.txt'  // Output file for trace
}

report {
    enabled = true      // Enable report generation
    file = 'report.html' // Output file for report
}

dag {
    enabled = true      // Enable DAG generation
    file = 'dag.png'    // Output file for DAG
}
