// Default configuration for Nextflow
process {
    resourceLimits = [
        cpus: 2,
        memory: '8.GB',
        time: '1.h'
    ]
}

params {
    omamer_db             = "${projectDir}/testdata/test.h5"
    input                 = "${projectDir}/testdata/in_folder"
    report                = true
}
